---
# NOTE: there must be no spaces before the '-', so put the comma last.
InheritParentConfig: true
FormatStyle: file
UseColor: true
WarningsAsErrors: '*'
HeaderFilterRegex: '^include/.*$'

Checks: |
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  hicpp-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  performance-*,
  readability-*,
  -readability-redundant-inline-specifier,
  -readability-redundant-member-init,
  -readability-identifier-length,

CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'python.*/.*;pybind11/.*;include/.*'
