[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
	shallow = true
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
	shallow = true
