# Include source files in SDist
include CMakeLists.txt
graft src
graft include

# Include test suites in SDist
graft tests

# Prune compiled files
prune */__pycache__
global-exclude *~ *.py[cod] *.so *.a *.dylib *.pxd *.dll *.lib *.o *.obj
