[run]
omit =
    ../optree/version.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    @(typing\.)?overload
    @(warnings\.)?deprecated\(.*
    if __name__ == ('__main__'|"__main__"):
    if TYPE_CHECKING:
