--requirement ../requirements.txt

pytest
pytest-cov
pytest-xdist
black
pylint[spelling]
mypy
flake8
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-pyi
flake8-simplify
ruff
doc8
pyenchant
xdoctest
cpplint
pre-commit

jax[cpu] >= 0.4.6
numpy
torch
