--requirement ../requirements.txt

sphinx ~= 8.0
sphinx-autoapi
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-bibtex
docutils

--extra-index-url https://download.pytorch.org/whl/cpu

jax[cpu]
numpy
torch
