--requirement ../requirements.txt

sphinx
sphinx-autoapi
sphinx-autobuild
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinx-autodoc-typehints
docutils

--extra-index-url https://download.pytorch.org/whl/cpu

jax[cpu] >= 0.4.6
numpy
torch
