name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
      - reopened
  # Allow to trigger the workflow manually
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  OPTREE_CXX_WERROR: "ON"
  _GLIBCXX_USE_CXX11_ABI: "1"
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  CLICOLOR_FORCE: "1"
  XDG_CACHE_HOME: "${{ github.workspace }}/.cache"
  PIP_CACHE_DIR: "${{ github.workspace }}/.cache/pip"
  UV_CACHE_DIR: "${{ github.workspace }}/.cache/pip/.uv"
  PRE_COMMIT_HOME: "${{ github.workspace }}/.cache/pip/.pre-commit"
  PIP_EXTRA_INDEX_URL: "https://download.pytorch.org/whl/cpu"
  UV_INDEX: "https://download.pytorch.org/whl/cpu"
  UV_INDEX_STRATEGY: "unsafe-best-match"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          update-environment: true
          cache: pip
          cache-dependency-path: |
            pyproject.toml
            requirements*.txt
            */requirements*.txt
            .pre-commit-config.yaml

      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools uv

      - name: Install dependencies
        run: uv pip install --system --python=python wheel pybind11 -r docs/requirements.txt

      - name: Install nightly pybind11
        shell: bash
        if: |
          github.event_name == 'pull_request' &&
          contains(github.event.pull_request.labels.*.name, 'test-with-nightly-pybind11')
        run: |
          python .github/workflows/set_setup_requires.py
          echo "::group::pyproject.toml"
          cat pyproject.toml
          echo "::endgroup::"
          python -m pip install --force-reinstall 'pybind11 @ git+https://github.com/pybind/pybind11.git#egg=pybind11'

      - name: Install OpTree
        run: python -m pip install -v --no-build-isolation --editable '.[lint]'

      - name: pre-commit
        run: make pre-commit

      - name: clang-format
        run: make clang-format

      - name: clang-tidy
        run: make clang-tidy CMAKE_CXX_STANDARD=17

      - name: cpplint
        run: make cpplint

      - name: python-format
        run: make python-format

      - name: ruff
        run: make ruff

      - name: pylint
        run: make pylint

      - name: mypy
        run: make mypy

      - name: doctest
        run: make doctest

      - name: addlicense
        run: make addlicense

      - name: docstyle
        run: make docstyle

      - name: spelling
        run: |
          dictionary="$(cat docs/source/spelling_wordlist.txt)"
          if [[ "$(sort --ignore-case <<<"${dictionary}" | uniq)" != "${dictionary}" ]]; then
            echo "::error::spelling_wordlist.txt is not sorted or contains duplicates" >&2
            exit 1
          fi
          make spelling
